<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="post">{% csrf_token %}   # Tem que ter o - {% csrf_token %}-  toda as vezes que fizer um form com outos metodos que não for o GET.
        <div align="center">
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>

    {% for message in messages %}
        <strong>Erro</strong>{{ message }}
    {% endfor %}

</body>
</html>